@import '~antd/dist/antd.css';
.App {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1552839509332&di=196d0c3dd290dc34b71a09c966d59836&imgtype=0&src=http%3A%2F%2Fimg.pptjia.com%2Fimage%2F20180416%2F8a0b45b7b68be797ae0ce32c9b319a7d.jpg);
    background-size: 100%
}

